<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WCM_FTP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="WCM-EXE-EXCH01" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <WCM_FTP.My.MySettings>
      <setting name="Email_Success" serializeAs="String">
        <value>matt@wcmilk.co.uk</value>
      </setting>
      <setting name="TimerInterval" serializeAs="String">
        <value>90000</value>
      </setting>
      <setting name="ELIOR_Waterfall_ORDERS" serializeAs="String">
        <value>E:\Data\OfficeShare\ELIOR_Waterfall\ORDERS</value>
      </setting>
      <setting name="ELIOR_Waterfall_FTP_SITE" serializeAs="String">
        <value>ftp://ftp.epsys.co.uk/Outbox</value>
      </setting>
      <setting name="ELIOR_Waterfall_FTP_USER" serializeAs="String">
        <value>wcmilk</value>
      </setting>
      <setting name="ELIOR_Waterfall_FTP_PW" serializeAs="String">
        <value>QWkgMxwC5</value>
      </setting>
      <setting name="Email_Error" serializeAs="String">
        <value>matt@wcmilk.co.uk</value>
      </setting>
      <setting name="EMAIL_FROM" serializeAs="String">
        <value>administrator@wcmilk.co.uk</value>
      </setting>
      <setting name="INTERSERVE_ORDERS" serializeAs="String">
        <value>E:\Data\OfficeShare\INTERSERVE\ORDER_IN</value>
      </setting>
      <setting name="INTERSERVE_FTP_SITE" serializeAs="String">
        <value>ftp://94.229.170.106/Download/</value>
      </setting>
      <setting name="INTERSERVE_FTP_USER" serializeAs="String">
        <value>P2P_WEST_COUNTRY_MILK</value>
      </setting>
      <setting name="INTERSERVE_FTP_PW" serializeAs="String">
        <value>P2pS131-852091</value>
      </setting>
      <setting name="INTERSERVE_FTP_SITE_TEST" serializeAs="String">
        <value>ftp://78.137.117.23/Download/</value>
      </setting>
      <setting name="Switch_Waterfall" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Switch_Interserve" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Switch_EFoods" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EFOODS_ORDERS" serializeAs="String">
        <value>E:\Data\OfficeShare\P2P_EFoods\ORDER_IN</value>
      </setting>
      <setting name="EFOODS_ORDERS_TEST" serializeAs="String">
        <value>E:\Data\OfficeShare\P2P_EFoods_Test\ORDER_IN</value>
      </setting>
      <setting name="EFOODS_FTP_PW" serializeAs="String">
        <value>X3&amp;iw6k3</value>
      </setting>
      <setting name="EFOODS_RESPONSES" serializeAs="String">
        <value>E:\Data\OfficeShare\P2P_EFoods\RESPONSE_OUT</value>
      </setting>
      <setting name="EFOODS_RESPONSES_TEST" serializeAs="String">
        <value>E:\Data\OfficeShare\P2P_EFoods_Test\RESPONSE_OUT</value>
      </setting>
      <setting name="EFOODS_FTP_SITE" serializeAs="String">
        <value>ftp://164.177.134.9/feeds-out/orders</value>
      </setting>
      <setting name="EFOODS_FTP_USER" serializeAs="String">
        <value>wcm-test</value>
      </setting>
      <setting name="EFOODS_FTP_SITE_TEST" serializeAs="String">
        <value>ftp://164.177.134.8/feeds-out/orders</value>
      </setting>
      <setting name="EFOODS_FTP_SITE_RESPONSE" serializeAs="String">
        <value>ftp://164.177.134.9/feeds-in/orders</value>
      </setting>
      <setting name="EFOODS_FTP_SITE_RESPONSE_TEST" serializeAs="String">
        <value>ftp://164.177.134.8/feeds-in/orders</value>
      </setting>
    </WCM_FTP.My.MySettings>
  </applicationSettings>
</configuration>