<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WCM_FTP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="WCM-EXE-EXCH01"/>
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <WCM_FTP.My.MySettings>
      <setting name="TimerInterval" serializeAs="String">
        <value>90000</value>
      </setting>
      <setting name="FoodBuyOnline_FTP_SITE" serializeAs="String">
        <value>ftp://ftp.epsys.co.uk/Outbox</value>
      </setting>
      <setting name="FoodBuyOnline_FTP_USER" serializeAs="String">
        <value>wcmilk</value>
      </setting>
      <setting name="FoodBuyOnline_FTP_PW" serializeAs="String">
        <value>QWkgMxwC5</value>
      </setting>
      <setting name="EMAIL_FROM" serializeAs="String">
        <value>administrator@wcmilk.co.uk</value>
      </setting>
      <setting name="Email_Success" serializeAs="String">
        <value>peter@wcmilk.co.uk</value>
      </setting>
      <setting name="FoodBuyOnline_ORDERS" serializeAs="String">
        <value>\\wcm-exe-fp01\OfficeShare\FoodBuy_Online\ORDERS</value>
      </setting>
      <setting name="Email_Error" serializeAs="String">
        <value>peter@wcmilk.co.uk</value>
      </setting>
      <setting name="Switch_FoodBuyOnline" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Switch_Interserve_saffron" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="INTERSERVE_FTP_SITE_RESPONSE_SAFFRON" serializeAs="String">
        <value>ftp://fdh.ftpstream.com/Live/ToSaffron</value>
      </setting>
      <setting name="INTERSERVE_FTP_SITE_RESPONSE_SAFFRON_TEST" serializeAs="String">
        <value>ftp://fdh.ftpstream.com/Test/ToSaffron</value>
      </setting>
      <setting name="INTERSERVE_FTP_SITE_SAFFRON" serializeAs="String">
        <value>ftp://fdh.ftpstream.com/Live/FromSaffron</value>
      </setting>
      <setting name="INTERSERVE_FTP_SITE_SAFFRON_TEST" serializeAs="String">
        <value>ftp://fdh.ftpstream.com/Test/FromSaffron</value>
      </setting>
      <setting name="INTERSERVE_FTP_USER_SAFFRON" serializeAs="String">
        <value>westcountrymilk</value>
      </setting>
      <setting name="INTERSERVE_FTP_PW_SAFFRON" serializeAs="String">
        <value>Se{Ng3@{w.</value>
      </setting>
      <setting name="INTERSERVE_ORDERS_SAFFRON" serializeAs="String">
        <value>\\wcm-exe-fp01\OfficeShare\INTERSERVE\ORDER_IN_SAFFRON</value>
      </setting>
      <setting name="INTERSERVE_RESPONSE_SAFFRON" serializeAs="String">
        <value>\\wcm-exe-fp01\OfficeShare\INTERSERVE\ASN_SAFFRON</value>
      </setting>
      <setting name="INTERSERVE_RESPONSE_SAFFRON_TEST" serializeAs="String">
        <value>\\wcm-exe-fp01\OfficeShare\INTERSERVE\ASN_TEST_SAFFRON</value>
      </setting>
      <setting name="INTERSERVE_ORDERS_SAFFRON_TEST" serializeAs="String">
        <value>\\wcm-exe-fp01\OfficeShare\INTERSERVE\ORDER_IN_TEST_SAFFRON</value>
      </setting>
      <setting name="Switch_Freshpastures" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Freshpastures_FTP_SITE" serializeAs="String">
        <value>ftp://edi-fp.deliverysoftware.co.uk</value>
      </setting>
      <setting name="Freshpastures_FTP_USER" serializeAs="String">
        <value>wcmilk-fp</value>
      </setting>
      <setting name="Freshpastures_FTP_PW" serializeAs="String">
        <value>v0Fq65TjkD*fUq#x9a9e</value>
      </setting>
      <setting name="Freshpastures_ORDERS" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\DairyData\FreshPastures\out</value>
      </setting>
      <setting name="Switch_MillsMilk" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MillsMilk_FTP_SITE" serializeAs="String">
        <value />
      </setting>
      <setting name="MillsMilk_FTP_USER" serializeAs="String">
        <value />
      </setting>
      <setting name="MillsMilk_FTP_PW" serializeAs="String">
        <value />
      </setting>
      <setting name="MillsMilk_ORDERS" serializeAs="String">
        <value>\\WCM-EXE-FP01\Officeshare\DairyData\MillsMilk</value>
      </setting>
    </WCM_FTP.My.MySettings>
  </applicationSettings>
</configuration>
